[MASTER]
load-plugins=pylint_django
django-settings-module=mysite.settings

[FORMAT]
max-line-length=200

[MESSAGES CONTROL]
disable=
    abstract-method,
    fixme,
    invalid-name,
    line-too-long,
    missing-docstring,
    no-member,
    no-self-use,
    redefined-outer-name,
    too-few-public-methods,
    import-outside-toplevel

[DESIGN]
max-parents=13
min-similarity-lines=25

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,
