<!-- blog/templates/blog/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "blog/base.css" %}">
  <link rel="stylesheet" href="{% static "blog/global.css" %}">
  <title>My Blog – {% block page_title %}An awesome blog{% endblock %}</title>
  <img src="{% static "blog/FoundationTitle.jpg" %}" alt="Logo">
</head>

<body>
  <!-- The header -->
  <header id="site-header">
     <h1>My Blog</h1>
     <p>A blog about awesomeness</p>
  </header>

  <!-- Top navigation -->
  <nav id="top-nav">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Posts</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <main id="main-content">
    <div>
    {% block main %}
      <p>Welcome to the home page of my blog!</p>
      <section class="latest-article-preview">
        {% for post in latest_posts %}
        <article>
          <h2>{{ post.title }}</h2>
          {{ post.content|linebreaks }}
          <em>{{ post.published|timesince }} ago</em>
        </article>
        {% endfor %}
      </section>
    {% endblock %}
  </div>
      <aside id="sidebar">
         <section id="author-list">
           <h3>Authors</h3>
           <ul>
              {% for author in authors %}
                <li>{{ author.get_full_name }}</li>
              {% endfor %}
            </ul>
         </section>
       </aside>
  </main>

  <!-- The footer -->
  <footer id="site-footer">
    <!-- Print copyright with the current year -->
    Copyright &copy;{% now 'Y' %}
  </footer>
</body>
</html>
